.calculator-title{ 
    font-size:30px; 
    background: #fff; 
    width: 400px; 
    padding: 10px 10px; 
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    border-radius: 2px; 
    border: 2px solid black; 
    color: #4CAF50; 
} 

