.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.search-bar {
    width: 80%;
    max-width: 400px;
    /* Limit the maximum width of the input field */
    display: block;
    padding: 20px;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    border-radius: 8px;
    color: dimgrey;
    font-size: 30px;
    font-weight: 300;
    transition: 0.4s ease-out;
}

.search:focus {
    box-shadow: 0 0 8px 3px #4484c4;
}

@media screen and (max-width: 685px) {
    .search {
        width: 90%; /* Adjust the width for smaller screens */
    }
}

@media screen and (max-width: 410px) {
    .search {
        width: 95%;
    }
}