.mainCalc {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  box-sizing: border-box;
}

input[type="button"] {
  width: 100px;
  background: #4CAF50;
  border: 1px solid #222;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type="button"]:active {
  background: #ccc;
}